/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
/app/phpunit.xml
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/.DS_*
/.idea/
/.vagrant/
/Vagrantfile
